
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    <title>
        help
    </title>
    <body>
        <h1>  About Page  {{name}} </h1>
        {{>header}}
        <img src="/img/DDG_0979.JPG">



        <a href="/help"> help</a>

        <a href="/about"> About</a>

        {{>footer}}
    </body>
</html>