<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <title>
        help
    </title>
    <body>
        {{>header}}
        <h1>  Help Page {{name}} </h1>

        <a href="/help"> help</a>

        <a href="/about"> About</a>


        {{>footer}}
    </body>
</html>